@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto:wght@400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

:root {
  --teal: #1DBFB4;
  --offWhite: #f8f8f8;
  --red: orangered;
  --gray: rgb(75, 73, 73);
  --fontMain: "Raleway", "Helvetica", sans-serif;
  --fontAlt: "Roboto", "Helvetica", sans-serif; }

.components-background {
  background-color: #b8b4b4;
  padding: 30px; }

.alt-font, .logo, .nav-link, .pre-title {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem; }

.logo, .nav-link {
  color: black;
  font-size: 1rem; }
  .logo span, .nav-link span {
    font-weight: 500;
    font-size: 2rem;
    color: var(--red); }

.pre-title {
  color: var(--offWhite);
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: end; }
  .pre-title span {
    font-weight: 500;
    font-size: 2rem;
    color: none; }

.main-title {
  font-family: var(--fontMain);
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--offWhite); }
  .main-title span span {
    color: var(--teal); }
    .main-title span span span {
      font-family: sans-serif;
      color: var(--red); }

.main-title-top {
  letter-spacing: 0.7rem; }

.main-title-middle {
  letter-spacing: 1.1rem; }

.main-title-bottom {
  letter-spacing: 0.9rem; }

.scroll {
  display: inline-block;
  font-family: var(--fontAlt);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--offWhite);
  transform: rotate(-90deg); }
  .scroll span {
    color: var(--red);
    margin-right: 1em; }

.intro {
  font-family: var(--fontMain);
  font-size: 1.5rem;
  color: var(--offWhite); }

.intro-title {
  color: black;
  font-weight: 700; }
  .intro-title span {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--red); }
