@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto:wght@400;500;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

:root {
  --teal: #1DBFB4;
  --offWhite: #f8f8f8;
  --red: orangered;
  --gray: rgb(75, 73, 73);
  --darkGray: rgb(49, 48, 48);
  --fontMain: "Raleway", "Helvetica", sans-serif;
  --fontAlt: "Roboto", "Helvetica", sans-serif;
  --border: 2.5em; }

.components {
  background-color: #b8b4b4;
  padding: 30px; }

* {
  box-sizing: border-box; }

.main-font, .main-title, .skills-title, .projects-title, .contact-title {
  font-family: var(--fontMain);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6rem; }

.logo, .nav-link {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  font-size: 1rem; }
  .logo span, .nav-link span {
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--red); }

.nav-link:hover {
  color: var(--teal);
  transition: 0.2s; }

.pre-title {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--offWhite);
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: end; }
  .pre-title span {
    font-weight: 900;
    font-size: 1.4rem;
    color: none; }

.main-title {
  color: var(--offWhite); }
  .main-title span {
    padding: 3px 0; }
    .main-title span span {
      color: var(--teal); }
      .main-title span span span {
        font-family: sans-serif;
        color: var(--red);
        position: relative;
        right: 10px; }

.main-title-top {
  letter-spacing: 0.7rem; }

.main-title-middle {
  letter-spacing: 1rem; }

.main-title-bottom {
  letter-spacing: 0.9rem; }

.scroll {
  display: inline-block;
  font-family: var(--fontAlt);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: var(--offWhite);
  transform: rotate(-90deg); }
  .scroll span {
    color: var(--red);
    font-weight: 700;
    margin-right: 0.5em; }

.intro {
  font-family: var(--fontMain);
  font-size: 1.5rem;
  color: var(--offWhite);
  line-height: 1.9rem; }

.intro-title {
  color: black;
  font-weight: 700; }
  .intro-title span {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--red);
    margin-left: 0.1em; }

.skills-title {
  line-height: 5rem;
  color: var(--offWhite); }
  .skills-title span {
    font-family: sans-serif;
    color: var(--teal); }

.projects-title {
  line-height: 5rem;
  color: black; }
  .projects-title span {
    font-family: sans-serif;
    color: var(--red); }

.contact-title {
  line-height: 5rem;
  color: var(--teal); }
  .contact-title span {
    font-family: sans-serif;
    color: var(--red); }

.skills-card-title {
  font-family: var(--fontAlt);
  color: var(--offWhite);
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 500; }

.skills-listitem {
  font-family: var(--fontAlt);
  color: var(--offWhite);
  line-height: 3rem;
  font-size: 1.3rem; }

label {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--offWhite);
  font-size: 1rem; }
  label span {
    font-weight: 900;
    font-size: 1.4rem;
    color: none; }

.copyright {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  font-size: 0.8rem; }
  .copyright span {
    font-weight: 900;
    font-size: 1.4rem;
    color: none; }

input[type=text], textarea {
  padding: 0.5em;
  font-family: var(--fontMain);
  font-size: 1rem;
  border: none;
  resize: none; }

input:focus, textarea:focus {
  box-shadow: 0 0 2px 2px black;
  outline: none; }

input[type=submit] {
  font-family: var(--fontAlt);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--offWhite);
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: var(--red);
  border: none;
  box-shadow: 1px 1px 2px 1px black;
  cursor: pointer; }
  input[type=submit] span {
    font-weight: 900;
    font-size: 1.4rem;
    color: none; }

input[type=submit]:hover {
  color: black;
  transition: 0.2s; }

input[type=submit]:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 1px 0px black; }

.nav-link {
  margin-left: 1em; }

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  height: var(--border);
  left: 0;
  right: 0;
  padding: 0 var(--border);
  z-index: 5; }

.wrapper {
  margin: 0 var(--border); }

body:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border);
  background-color: white; }

.hero {
  height: 300vh;
  background-color: var(--offWhite); }

.wiper {
  background-color: var(--teal);
  position: absolute;
  top: var(--border);
  left: var(--border);
  bottom: 0;
  width: calc(50% - var(--border));
  height: calc(300vh - var(--border)); }

.main-title {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(42%, -50%); }
  .main-title span {
    display: inline-block; }

.pre-title {
  position: fixed;
  top: 16%;
  right: 51%; }

.intro {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 18%;
  right: 30%;
  transform: translateY(-50%); }

.scroll {
  position: fixed;
  top: 80%;
  right: 49%; }

.chevron {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block; }

.bounce {
  animation-name: bounce;
  animation-timing-function: ease; }

@keyframes bounce {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-1em); }
  100% {
    transform: translateX(0); } }

.skills {
  height: calc(100vh - var(--border) * 2);
  background-image: url("../images/computer-screen.jpg");
  background-size: cover;
  background-color: var(--darkGray);
  background-blend-mode: soft-light; }
  .skills header {
    display: flex;
    justify-content: center;
    padding-top: 10vh; }

.skills-title {
  display: inline-block; }
