.wrapper {
    margin: 0 var(--border);
}

body:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border);
    background-color: white;
}

@media screen and (max-width: 768px) {

    .wrapper {
        margin: 0;
    }

    body:after {
        display: none;
    }

}