.contact {
    background-color: var(--teal);
    height: 60vh;
    position: relative;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../dist/images/phone.jpg");
        background-size: cover;
        background-color: var(--gray);
        background-blend-mode: soft-light;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
    }
}

.contact-title {
    display: inline-block;
}

.contact-text {
    width: 50%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: underline;
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .contact {

        height: 500px;

        header {
            position: static;
            display: block;
            padding: 65px 15vw;
            width: 100%;
        }
    }

    .contact-title {
        display: block;
    }

    .contact-text {
        width: 100%;
        height: 50%;
        margin: 0;
    }

}
