footer {
    height: calc((100vh - 60vh - (var(--border) * 2)) / 2 + var(--border));
    background-color: var(--offWhite);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-bottom: var(--border);
}

@media screen and (max-width: 768px) {
    footer {
        height: 10vh;
    }

    .copyright {
        margin-bottom: 0;
    }
}