.nav-link {
    margin-left: 1em;
}

.nav-main {
    opacity: 0;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    height: var(--border);
    left: 0;
    right: 0;
    padding: 0 var(--border);
    z-index: 1;
}

.nav-toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1.5em;
    top: 5em;
    opacity: 1;
    text-align: end;

    a {
        margin-bottom: 2em;
    }
}

.hamburger {
    display: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .header-main {
        background-color: transparent;
        padding-top: 2.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .nav-hide {
        display: none;
    }

    .logo {
        width: 20vw;
    }

    .hamburger {
        display: inline;
    }

}