.nav-link {
    margin-left: 1em;
}

.nav-main {
    // padding-bottom: 0.2em;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; //remove this
    padding-bottom: 0.3em;
    height: 8vh;
}

// .nav-link span {
//     font-weight: 900;
//     font-family: "Roboto";
//     font-size: 1.4rem;

// }

// .nav-main {
//      display: flex;
// }

// .nav-main ul {
//     display: flex;
// }

// .nav-main li {
//     display: flex;
//     align-items: center;
// }

// .nav-main ul {
//     display: flex;
// }

// .nav-main {
//     display: flex;
//     align-items: center;
// }

// .nav-main ul {
//     display: flex;
//     align-items: center;
// }

// .nav-main li {
//     display: flex;
//     align-items: center;
// }

// .nav-link {
//     display: flex;
//     align-items: center;
// }

// .header-main {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: white; //remove this
//     height: 8vh;
// }