.nav-link {
    margin-left: 1em;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; //remove this?
    padding-bottom: 0.3em;
    position: fixed;
    height: var(--border);
    left: var(--border);
    right: var(--border);
}