.hero {
    height: 250vh;
    background-color: var(--offWhite);
}

.wiper {
    background-color: var(--teal);
    position: absolute;
    top: var(--border);
    left: var(--border);
    bottom: 0;
    width: 50%;
    height: 100%;
}

.main-title {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(57%, -50%);

    span {
        display: inline-block;
    }
}