
//inputs and textarea

input[type=text], textarea {
    padding: 0.5em;
    font-family: var(--fontMain);
    font-size: 1rem;
    border: none;
    resize: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 2px 2px black;
    outline: none;
}

//send button

input[type=submit] {
    @include altText(var(--offWhite), 1rem, none);
    padding: 0.5em 1em;
    background-color: var(--red);
    border: none;
    box-shadow: 1px 1px 2px 1px black;
    cursor: pointer;
}

input[type=submit]:hover {
    color: black;
    transition: 0.2s;
}

input[type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 1px 0px black;
}

