@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto:wght@400;500;900&family=Libre+Baskerville:ital@1&display=swap');

:root {

    //colors

    --teal: #1DBFB4;
    // --offWhite: #f8f8f8;
    --offWhite: #efeef5;
    --red: orangered;
    --gray: rgb(75, 73, 73);
    --lightGray: rgb(199, 195, 195);
    --darkGray: rgb(49, 48, 48);

    //fonts

    --fontMain: "Raleway", "Helvetica", sans-serif;
    --fontAlt: "Roboto", "Helvetica", sans-serif;

    //border

    --border: 2.5em;
}

//components.html
.components {
    height: 300vh;
    background-color: rgb(184, 180, 180);
    padding: 30px;
}

* {
    box-sizing: border-box;
}

//move down the page sections by the border height when clicking on nav links
.shift-anchor {
    display: block;
	position: relative;
	top: calc(var(--border) * -1);
}

@media screen and (max-width: 768px) {

    :root {
        font-size: 80%;
    }

    .shift-anchor {
        top: 0;
    }

}

