@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto:wght@400;500;900&display=swap');

:root {

    //colors

    --teal: #1DBFB4;
    --offWhite: #f8f8f8;
    --red: orangered;
    --gray: rgb(75, 73, 73);

    //fonts

    --fontMain: "Raleway", "Helvetica", sans-serif;
    --fontAlt: "Roboto", "Helvetica", sans-serif;

    //border

    --border: 3em;
}

.components {
    background-color: rgb(184, 180, 180);
    padding: 30px;
}

* {
    box-sizing: border-box;
}

