.skills {
    height: calc(100vh - var(--border) * 2);
    background-image: url("../../dist/images/computer-screen.jpg");
    background-size: cover;
    background-color: var(--darkGray);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 15vw;

    header { 
        display: flex;
        justify-content: center;
    }
}

.skills-title {
    display: inline-block;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-card {
    display: inline-block;
    position: relative;
}

.skills-card-title {
    margin-bottom: 15px;

    span {
        color: var(--red);
        margin-left: 5px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .skills {
        background-position-x: 55%;
        padding: 65px 15vw;
        height: auto;

        header {
            justify-content: start;
            margin-bottom: 5em;
        }
    }

    .skills-container {
        flex-direction: column;
        height: 650px;
    }

    .skills-listitem {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

}
