
//alternative font
.alt-font {
    font-family: var(--fontAlt);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

// Mixin for alternative text styling

@mixin altText($color, $fontSize, $dotColor) {
    @extend .alt-font;
    color: $color;
    font-size: $fontSize;

    span {
        font-weight: 500;
        font-size: 2rem;
        color: $dotColor;
    }
}

//header logo and nav-links

.logo, .nav-link {
    @include altText(black, 1rem, var(--red));
}

//pre-title (small text in main title)

.pre-title {
    @include altText(var(--offWhite), 1.4rem, none);
    line-height: 2rem;
    text-align: end;
}

.links-text, .links-dot, .title-text-small {
    font-family: var(--fontAlt);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.links-dot {
    font-weight: 500;
    color: var(--red);
    font-size: 2rem;
}

.title-text-small {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--offWhite);
    text-align: end;
}

.title-text-large {
    font-family: var(--fontMain);
    font-size: 6rem;
    color: var(--offWhite);
    text-transform: uppercase;
}

.title-line-one {
    letter-spacing: 0.7rem;
}

.title-line-two {
    letter-spacing: 1.1rem;
}

.title-line-three {
    letter-spacing: 0.9rem;
}

.title-alt-color {
    color: var(--teal);
}

.title-dot {
    font-family: sans-serif;
    color: var(--red);
}

.scroll {
    font-family: var(--fontAlt);
    color: var(--offWhite);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transform: rotate(-90deg);
    display: inline-block;

}

.scroll-arrow {
    color: var(--red);
    margin-right: 1em;
}

.intro {
    font-family: var(--fontMain);
    font-size: 1.5rem;
    color: var(--offWhite);
}

.intro-title {
    color: black;
}

.intro-dot {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--red);

}