
//alternative font
.alt-font {
    font-family: var(--fontAlt);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

// Mixin for alternative text styling

@mixin altText($color, $fontSize, $dotColor) {
    @extend .alt-font;
    color: $color;
    font-size: $fontSize;

    span {
        font-weight: 500;
        font-size: 2rem;
        color: $dotColor;
    }
}

//header logo and nav-links

.logo, .nav-link {
    @include altText(black, 1rem, var(--red));
}

//pre-title (small text in main title)

.pre-title {
    @include altText(var(--offWhite), 1.4rem, none);
    line-height: 2rem;
    text-align: end;
}

//main title

.main-title {
    font-family: var(--fontMain);
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--offWhite);

    span {

        span {
            color: var(--teal);
            span {
                font-family: sans-serif;
                color: var(--red);
            }
        }
    }
}

.main-title-top {
    letter-spacing: 0.7rem;
}

.main-title-middle {
    letter-spacing: 1.1rem;
}

.main-title-bottom {
    letter-spacing: 0.9rem;
}

//scroll

.scroll {
    display: inline-block;
    font-family: var(--fontAlt);
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: var(--offWhite);
    transform: rotate(-90deg);

    span {
        color: var(--red);
        margin-right: 1em;
    }
}

//intro

.intro {
    font-family: var(--fontMain);
    font-size: 1.5rem;
    color: var(--offWhite);
}

.intro-title {
    color: black;
    font-weight: 700;

    span {
    font-family: sans-serif;
    font-size: 2rem;
    color: var(--red);
    }
}